version: '3.7'

services:
  mysql:
    image: mysql:8.0
    volumes:
      - mysql-data:/var/lib/mysql
    ports:
      - "3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=url
      - MYSQL_DATABASE=url
      - MYSQL_USER=url
      - MYSQL_PASSWORD=secret

  redis:
    image: redis:3.2-alpine
    command: --appendonly yes
    volumes:
      - redis-data:/data

  app:
    build:
      context: .
      target: runtime
    image: 823048886684.dkr.ecr.us-east-1.amazonaws.com/php-url-api:live
    volumes:
      - .:/var/www/html
    ports:
      - "80:80"
    depends_on: 
      - mysql
      - redis

  queue:
    build:
      context: .
      target: queue
    image: url-shortener-queue:lumen-6.0
    command: php artisan queue:work --verbose --tries=3 --timeout=90
    volumes:
      - .:/var/src/app
    depends_on: 
      - mysql
      - redis
      
volumes:
  mysql-data:
    driver: local
  redis-data:
    driver: local
