name: Deploy owned by diego

on:
  push:
    branches:
      - master

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    # checkout the repo
    - uses: actions/checkout@v2

    - name: Copy .env
      run: php -r "file_exists('.env') || copy('.env.example', '.env');"

    - name: Install Dependencies
      run: composer install -q --no-ansi --no-interaction --no-scripts --no-suggest --no-progress --prefer-dist

    # deploy web app using publish profile credentials
    - uses: azure/webapps-deploy@v2
      with: 
        app-name: php-url-shortener
        publish-profile: ${{ secrets.azureWebAppPublishProfile }}
